@model SuquilandaVictor_PruebaProgreso1.Models.Celular

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Info</h1>

<h3>Seguro que deseas eliminar estos datos?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            Fabricante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricando)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            Usuario del dispostivo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VSuquilanda.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
